.containere{
    width:100px;
}
.category_navigation{
    min-height: 100%;
    left:0px;
    top:0px;
    width: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color:white ;
}
.category_navigation_container{
    height: 40px;
    color: #000000;
    margin-bottom: 50px;
    background-color: white;
    cursor: pointer;
}
.container_content{
        text-align: center;    
}
.content-img{
    margin-left: 30px;
}
.content-divider{
    width:100%;
    background-color: black;
    height:"1px"
}   