$rhap_theme-color: black !default;   // Color of all buttons and volume/progress indicators
$rhap_background-color: #fff !default; // Color of the player background
$rhap_bar-color: black !default;     // Color of volume and progress bar
$rhap_time-color: black !default;       // Font color of current time and duration
$rhap_font-family: inherit !default;   // Font family of current time and duration